@import "./base.css";

@font-face {
  font-family: C64Pro_mono;
  src: url("../fonts/C64_Pro_Mono-STYLE.woff");
}

body {
  background-color: #222;
  user-select: none;
}

.shadow,
.box-shadow {
  box-shadow: 2px 2px 8px black !important;
}

.btn {
  border-radius: 0;
}

@media (min-width: 992px) {
  body {
    overflow: hidden;
  }
  .mobile-hide-big {
    display: block;
  }
  .mobile-show-big {
    display: none;
  }
}
@media (max-width: 991.999px) {
  body {
    overflow: scroll;
  }
  .mobile-hide-big {
    display: none;
  }
  .mobile-show-big {
    display: block;
  }
}
@media (min-width: 768px) {
  .mobile-hide-small {
    display: block;
  }
  .mobile-show-small {
    display: none;
  }
}
@media (max-width: 767.999px) {
  .mobile-hide-small {
    display: none;
  }
  .mobile-show-small {
    display: block;
  }
}
